@import url("reset.css");


/* ================================ Common Styles ================================ */

.fl-l {float:left}
.fl-r {float:right}
.txt-al-c {text-align:center}
.txt-al-l {text-align:left}
.txt-al-r {text-align:right}
.txt-tr-u {text-transform:uppercase}
.txt-dec-lt {text-decoration:line-through;}
.txt-dec-u, .hover-u:hover, .txt-dec-n:hover {text-decoration:underline;}
.txt-dec-n, .txt-dec-u:hover {text-decoration:none}
.disabled {cursor: default}
.inv {display: none}
.hidden {visibility: hidden}
/* ================================ EO Common Styles ================================ */

/* ================================ Layout ================================ */

body {
    background-color: #aaa;
    text-align: left;
    color: #333;
}
.wrapper {
    position: relative;
    width: 40%;
    margin:0 auto;
    padding:22px 14px 0;
}

/* ================================ EO Layout ================================ */

/* ================================ Header ================================ */

header {
    text-align: center;
}

/* ================================ EO Header ================================ */

/* ================================ Content ================================ */

.content {

}
.task-title {
    margin-right: 20px;
}
.done .task-title {
    text-decoration: line-through;
}

/* ================================ EO Content ================================ */


/* ================================ Footer ================================ */

footer {
    margin-top: 50px;
    text-align: center;
}

/* ================================ EO Footer ================================ */
