@import url("reset.css");


/* ================================ Common Styles ================================ */

.fl-l {float:left}
.fl-r {float:right}
.txt-al-c {text-align:center}
.txt-al-l {text-align:left}
.txt-al-r {text-align:right}
.txt-tr-u {text-transform:uppercase}
.txt-dec-lt {text-decoration:line-through;}
.txt-dec-u, .hover-u:hover, .txt-dec-n:hover {text-decoration:underline;}
.txt-dec-n, .txt-dec-u:hover {text-decoration:none}
.disabled {cursor: default}
.inv {display: none}
.hidden {visibility: hidden}
/* ================================ EO Common Styles ================================ */

/* ================================ Layout ================================ */

body {
    background-color: #499cc1;
    text-align: left;
    color: #333;
}
.wrapper {
    position: relative;
    width: 500px;
    margin:10px auto;
    background: #fcfcfc;
    border: 1px solid #bebebe;
}

/* ================================ EO Layout ================================ */

/* ================================ Header ================================ */

header {
    font: 30px/80px Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #707070 1px 2px 1px;
}

/* ================================ EO Header ================================ */

/* ================================ Content ================================ */

.ToDo{
    padding: 10px 30px 30px 30px;

}

.add{
    width: 383px;
    height:38px;
    border: 1px solid #58a3c7;
    text-align: center;
    font: italic 18px Arial, sans-serif;
    color: #08638e;
}

.add-btn{
    height: 42px;
    border: 1px solid #58a3c7;
    background-color: #58a3c7;
    font: italic 18px/40px Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0 16px;
}

/*======LIST======*/

.task-list{
    margin: 10px 0 30px 0;
    color: #4a9ac0;
    font: 14px/30px Tahoma, sans-serif;;
}

.task-list li{
    border-bottom: 1px solid #e9e9e9;
    display: block;
}

.task-list li:first-child{
    border-top: 1px solid #e9e9e9;
}

.task-list input{
    margin: 10px;
    vertical-align: top;
}

.task-title{

}

.edit {
    float: right;
}

.remove{
    float: right;
    width: 12px;
    height: 13px;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat 0 -11px;
    margin: 9px 10px 0 10px;
}

.remove:hover{
    background: url(../images/sprite.png) no-repeat 0 0;
}

.edit{
    float: right;
    width: 12px;
    height: 13px;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat 0 -34px;
    margin: 9px 0 0 10px;
}

.edit:hover{
    background: url(../images/sprite.png) no-repeat 0 -22px;
}
/*======END LIST======*/

.task-title {
    display: inline-block;
    width: 352px;
    text-align: left;
    font-size: 13px;
}

.done .task-title {
    text-decoration: line-through;
}

.bottom {
    display: none;
}

.progress-bar {
    width: 200px;
    height: 25px;
    border: 1px solid #aaa;
    overflow: hidden;
}

.progress-status {
    height: 100%;
    background: #5a5;
    border-right: 1px solid #aaa;
    -webkit-transition:all .5s ease-in;
    transition:all .5s ease-in;
}

.progress-status p {
    width: 200px;
    text-align: center;
    line-height: 25px;
}


.remove-checked{
    text-decoration: none;
    float: left;
    background: #4a9ac0 url("../images/sprite.png") no-repeat 0 -47px;
    font: 14px Arial, sans-serif;
    color: #fff;
    padding: 10px 10px 10px 30px;
    margin: 10px 0 0 0;
}

/* ================================ EO Content ================================ */


/* ================================ Footer ================================ */

footer {
    margin-top: 50px;
    text-align: center;
}

/* ================================ EO Footer ================================ */
