/* RESET STYLES*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ol, ul {
   list-style: none;
}


/* ================================ Layout ================================ */

body {
    background-color: #499cc1;
    text-align: left;
    color: #333;
    font: 13px Tahoma, sans-serif;
}
.wrapper {
    position: relative;
    width: 500px;
    margin:10px auto;
    background: #fcfcfc;
    border: 1px solid #bebebe;
}

/* ================================ EO Layout ================================ */

/* ================================ Header ================================ */

header {
    font: 30px/80px Tahoma, sans-serif;
    text-transform: uppercase;
    color: #555;
    text-align: center;
    text-shadow: #707070 1px 2px 1px;
}

/* ================================ EO Header ================================ */

/* ================================ Content ================================ */

.ToDo{
    padding: 10px 30px 10px 30px;
}

.add{
    width: 383px;
    height:38px;
    border: 1px solid #58a3c7;
    text-align: center;
    font: italic 18px Arial, sans-serif;
    color: #08638e;
}

.add-btn{
    height: 42px;
    border: 1px solid #58a3c7;
    background-color: #58a3c7;
    font: italic 18px/40px Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0 16px;
    cursor: pointer;
}

/*======LIST======*/

.task-list{
    margin: 10px 0 30px 0;
    color: #4a9ac0;
}

.task-list li {
    background: #f0f9ff;
    padding:10px 10px 4px;
    border-bottom: 1px solid #e9e9e9;
}
.task-list .done {
    background: #f9fdff;
}

.task-list li:first-child{
    border-top: 1px solid #e9e9e9;
}

.task-list .toggle {
    margin:0 10px 0 0;
    vertical-align: top;
}


.task-title {
    position: relative;
    top:-3px;
    display: inline-block;
    padding:2px;
    border:1px solid transparent;
    width: 352px;
    text-align: left;
    line-height: 13px;
}

.editing {
    background-color: #fff;
}
.done .editing {
    text-decoration: line-through;
    border-color: #f0f9ff;
}

.done .task-title {
    text-decoration: line-through;
}

.remove{
    float: right;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat 0 -11px;
    margin: 0 0 0 10px;
}

.remove:hover{
    background: url(../images/sprite.png) no-repeat 0 0;
}

.edit{
    float: right;
    width: 12px;
    height: 13px;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat 0 -34px;
    margin: 0;
}

.edit:hover{
    background: url(../images/sprite.png) no-repeat 0 -22px;
}
/* ======EO LIST====== */

.bottom {
    display: none;
}

.progress-bar {
    float: left;
    width: 200px;
    height: 26px;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}

.progress-status {
    height: 100%;
    background: #5a5;
    -webkit-transition:all .5s ease-in;
    transition:all .5s ease-in;
}

.progress-status p {
    width: 200px;
    text-align: center;
    color: #666;
    line-height: 25px;
}

.progress-status p span {
    font-weight: bold;
}

.remove-checked {
    text-decoration: none;
    float: right;
    background: #4a9ac0;
    margin: 0 0 0 20px;
    padding: 6px 10px 6px 20px;
}

.remove-checked span {
    display: inline-block;
    background: #4a9ac0 url("../images/sprite.png") no-repeat right -47px;
    font: 14px/14px Arial, sans-serif;
    color: #fff;
    padding: 0 20px 0 0;
}

/* ================================ EO Content ================================ */


/* ================================ Footer ================================ */

footer {
    margin: 30px 0 5px 0;
    color: #999;
    text-align: center;
    font-size: 12px;
}
footer a {
    color: #777;
}

/* ================================ EO Footer ================================ */
